// src/css/main.scss

@import './variables.scss';

h1{
	color: $text-primary;
}
tr.selected{
	border-left: 3px solid $starfind-purple;
}
.input-group{
	z-index: 0 !important;
}
.pagination-container{
	text-align: center;
	.pagination{
		.next{
			float: right;
		}
		.previous{
			float: left;
		}
	}
}
.hidden{
	display: none;
}
.update-btn{
	position: fixed;
	right: 10px;
	top: 10px;
}