// src/css/main.scss

@import './variables.scss';

h1{
	color: $text-primary;
}
tr.selected{
	border-left: 3px solid $starfind-purple;
}
.input-group{
	z-index: 0 !important;
}
#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}

#react-paginate .break a {
    cursor: default;
}